<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body p-4">
        <h1 class="card-title mb-4 text-center">Sign up</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-3">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control form-control-lg", autocomplete: "username" %>
          </div>

          <div class="mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control form-control-lg", autocomplete: "email" %>
          </div>

          <div class="mb-3">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control form-control-lg", autocomplete: "new-password" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control form-control-lg", autocomplete: "new-password" %>
          </div>

          <div class="actions d-grid">
            <%= f.submit "Sign up", data: { turbo: false }, class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
        <hr class="my-4">
        <p class="text-center">Already have an account? <span> <%= link_to "Sign in", new_session_path(resource_name)%></span></p>

      </div>
    </div>
  </div>
</div>