<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body p-4 text-center">
        <h1 class="card-title mb-4">Forgot your password?</h1>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-floating mb-3">
            <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Email", autocomplete: "email" %>
            <%= f.label :email %>
          </div>

          <div class="actions d-grid">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>

          <p class="mt-2">
            <span> Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %></span><br />
            <span> Have an account? <%= link_to "Log in", new_session_path(resource_name) %></span>
          </p>

      </div>
    </div>
  </div>
</div>
