<div class="col mx-5 my-5 post">
      <%= link_to post, data: { turbo_frame: "_top" } do %>
        <h1><%= post.title %></h1>
      <% end %>
    
    <p>
    <span class="me-2">
      Posted to <%= link_to post.feed.name, post.feed, data: { turbo_frame: "_top" } %>
      by <%= link_to post.user.username, post.user %> 
      - <%= time_ago_in_words(post.created_at).upcase %> AGO
      - <%= link_to "Edit", edit_post_path(post) %>
    </span>
    <p>
      <%= post.body %>
    </p>
</div>

