<div class="col mx-5 my-5 post">
      <%= link_to post, data: { turbo_frame: "_top" } do %>
        <h1><%= post.title %></h1>
      <% end %>
    
    <p>
      <span class="me-2"><%= link_to post.user.username.upcase, post.user %> - <%= time_ago_in_words(post.created_at).upcase %> AGO</span>
    </p>
    
    <p>
      <%= post.body %>
    </p>
</div>

